<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <script src="./js/typewriter.js"></script>
    <script src="./js/scroll.js"></script>
    <title>Document</title>
</head>

<body>

    <header>
        <img src="./images/header_quote.png" class="banner">
        <span class="logo">pollymorfism</span>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#"><button class="btn btn-secondary">DOWNLOAD CV</button></a></li>
            </ul>
        </nav>
    </header>


    <section class="about">
        <h1>
            <span href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am Pranjal Shikhar Sinha.", "I am Creative.", "I Love to Design.", "I Love to Develop." ,
                          "I am Data Science Enthusiast." , "I love Augmented Reality."]'>
        <span class="wrap"></span>
            </span>
        </h1>
    </section>


    <br> <br> <br> <br>
    <br> <br> <br> <br>
    <br> <br> <br> <br>


    <div class="container">
        <div class="rightbox">
            <div class="rb-container">
                <ul class="rb">
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2021
                        </div>
                        <div class="item-title">
                            <img src="https://img.icons8.com/windows/32/fa314a/free-code-camp.png" />&nbsp <b style="color: #fff;">Open Source Developer (Present)</b>
                            <br> &emsp;&emsp;GirlScript Summer of Code
                        </div>

                    </li>
                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2020
                        </div>
                        <div class="item-title">
                            <img src="https://img.icons8.com/windows/32/fa314a/free-code-camp.png" />&nbsp <b style="color: #fff;">Data Science Intern</b>
                            <br> &emsp;&emsp;The Sparks Foundation
                        </div>

                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2020
                        </div>
                        <div class="item-title">
                            <img src="https://img.icons8.com/windows/32/fa314a/free-code-camp.png" />&nbsp <b style="color: #fff;">Data Analytics Intern</b>
                            <br> &emsp;&emsp;The Shaadi Times
                        </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2018
                        </div>
                        <div class="item-title">
                            <img src="https://img.icons8.com/windows/32/fa314a/free-code-camp.png" />&nbsp <b style="color: #fff;">B. Tech - CS&E (Present)</b>
                            <br> &emsp;&emsp;Amity University, Lucknow
                        </div>
                    </li>

                    <li class="rb-item" ng-repeat="itembx">
                        <div class="timestamp">
                            2016
                        </div>
                        <div class="item-title">
                            <img src="https://img.icons8.com/windows/32/fa314a/free-code-camp.png" />&nbsp <b style="color: #fff;">Senior Secondary & Secondary</b>
                            <br> &emsp;&emsp;Fatima Senior Secondary School
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>





</body>

</html>